ClienteAvaluos2/WebContent/WEB-INF/wsdl/GetMsdAvaluos_https.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://processmsd" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://processmsd" xmlns:intf="http://processmsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://processmsd" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="deleteFile">
    <complexType>
     <sequence>
      <element name="FOLIOEXPEDIENTE" type="xsd:string"/>
      <element name="TipoArchivo" type="xsd:string"/>
      <element name="Aplicacion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFileResponse">
    <complexType>
     <sequence>
      <element name="deleteFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFile">
    <complexType>
     <sequence>
      <element name="CADENABASE64" type="xsd:string"/>
      <element name="FOLIOEXPEDIENTE" type="xsd:string"/>
      <element name="TipoArchivo" type="xsd:string"/>
      <element name="Extesion" type="xsd:string"/>
      <element name="Aplicacion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFileResponse">
    <complexType>
     <sequence>
      <element name="addFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getListFol">
    <complexType>
     <sequence>
      <element name="FOLIOEXPEDIENTE" type="xsd:string"/>
      <element name="Aplicacion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getListFolResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getListFolReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="downloadfile">
    <complexType>
     <sequence>
      <element name="FOLIOEXPEDIENTE" type="xsd:string"/>
      <element name="TipoArchivo" type="xsd:string"/>
      <element name="Aplicacion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="downloadfileResponse">
    <complexType>
     <sequence>
      <element name="downloadfileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="downloadfileResponse">

      <wsdl:part element="impl:downloadfileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="downloadfileRequest">

      <wsdl:part element="impl:downloadfile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getListFolRequest">

      <wsdl:part element="impl:getListFol" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFileResponse">

      <wsdl:part element="impl:deleteFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFileResponse">

      <wsdl:part element="impl:addFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getListFolResponse">

      <wsdl:part element="impl:getListFolResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFileRequest">

      <wsdl:part element="impl:deleteFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFileRequest">

      <wsdl:part element="impl:addFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetMsdAvaluos">

      <wsdl:operation name="deleteFile">

         <wsdl:input message="impl:deleteFileRequest" name="deleteFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFileResponse" name="deleteFileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFile">

         <wsdl:input message="impl:addFileRequest" name="addFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFileResponse" name="addFileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getListFol">

         <wsdl:input message="impl:getListFolRequest" name="getListFolRequest">

       </wsdl:input>

         <wsdl:output message="impl:getListFolResponse" name="getListFolResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="downloadfile">

         <wsdl:input message="impl:downloadfileRequest" name="downloadfileRequest">

       </wsdl:input>

         <wsdl:output message="impl:downloadfileResponse" name="downloadfileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetMsdAvaluosSoapBinding" type="impl:GetMsdAvaluos">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getListFol">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getListFolRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getListFolResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="downloadfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="downloadfileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="downloadfileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetMsdAvaluosService">

      <wsdl:port binding="impl:GetMsdAvaluosSoapBinding" name="GetMsdAvaluos">

         <wsdlsoap:address location="https://150.250.235.63:36050/WSAvaluosAxis/services/GetMsdAvaluos"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>